{% extends "base.html" %}

{% block content %}
<h2 style="color:#004aad; margin-bottom:20px;">All PG Rooms</h2>

<div style="overflow-x:auto; background:white; padding:20px; border-radius:8px; box-shadow:0 5px 15px rgba(0,0,0,0.05);">
    <table style="width:100%; border-collapse:collapse; min-width:600px;">
        <thead>
            <tr style="background:#004aad; color:white;">
                <th style="padding:10px;">Title</th>
                <th>District</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr style="border-bottom:1px solid #ddd;">
                <td style="padding:10px;">{{ room.title }}</td>
                <td>{{ room.district.name }}</td>
                <td>₹ {{ room.price }}</td>
                <td style="display:flex; gap:10px;justify-content:center;">
                   <a href="{% url 'ad_view_room' room.id %}" 
                       style="background:#004aad; color:white; padding:6px 12px; border-radius:4px; text-decoration:none; margin-right:5px;">
                       View
                    </a>
      <a href="{% url 'edit_room' room.id %}"
                       style="margin-left:5px; background:green; color:white; padding:6px 12px; border-radius:4px; text-decoration:none;">
                       Edit
                    </a>
                    <a href="{% url 'delete_room' room.id %}" 
                       onclick="return confirm('Are you sure you want to delete this room?');"
                       style="background:#d11a2a; color:white; padding:6px 12px; border-radius:4px; text-decoration:none;">
                       Delete
                    </a>
                   
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" style="text-align:center; padding:15px;">
                    No rooms available
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}